body{
	background-color: #f0eeee;
	color: #858585;
} 
header{
	text-align: center;
	border: 1px solid red;
}
main{
	border: 1px solid green;
	padding: 20px;
	font-size: 18pt;
}
footer{
	border: 1px solid blue;
	float: right;
	padding: 20px;
}
div{
	border: 1px solid black;
}
div.date{
	border: 1px solid gray;
	font-size: 12pt;
}
nav{
	border: 1px solid lightgreen;
	padding: 20px;
}
nav a{
	padding: 10px;
	margin: 10px;
	border: 1px solid gray;
	text-decoration: none;
	color: #858585;
}
nav a:hover{
	background: lightgray;
	padding: 12px;
	margin: 8px;
}

