
a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 80%;
  margin: 10px auto;
  height: 200px;
  line-height: 200px;
  font-size: 30px;
  background: white;
  border: 2px solid blue;
  border-radius: 5px;
  color: #191970;
  transition: all .5s;
}
a:hover {
  background: #191970 ;
  color: white;
}
.grid {
  background-color: lightgreen;
  border-radius: 5px;
  border: 2px solid green;
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 100px 400px;
  grid-gap: 10px;
}
