.container-div{
  text-align: center;
  border-bottom: 2px solid black;
}
.article{
  text-align: justify;
}
.article-img{
  width: 400px;
  width: 113px;
  display: block;
  margin: 15px auto;
  border-radius: 5px;
}
.article-img:hover{
  width: 420px;
  width: 119px;
  margin-top: 9px;
}
.button{
  background-color: inherit;
  margin: 20px 40px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25), inset 0 0 20px 0 rgba(255,255,255,0.2), 0 3px 0 rgba(0,0,0,0.1), inset 0 3px 0 rgba(255,255,255,0.15);
  opacity: 0.7;
}
.btn-before{
  background-color: #333;
  margin: 20px 40px;
  display: inline-block;
  cursor: pointer;
}
.btn-rectangle{
  width: 100px;
  width: 90px;
  border-radius: 10px;
}
.btn-circle{
  width: 100px;
  width: 100px;
  border-radius: 50%;
}
.btn-facebook{
    background: url("../../../img/facebook-alt.png") center no-repeat;
}
.btn-twitter{
    background: url("../../../img/twitter.png") center no-repeat;
}
.btn-click:hover{
  /* box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.3), inset 0 0 20px 0 rgba(255,255,255,0.2), 0 3px 0 rgba(0,0,0,0.1), inset 0 3px 0 rgba(255,255,255,0.15); */
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25), inset 0 0 20px 0 rgba(255,255,255,0.2), 0 3px 0 rgba(0,0,0,0.1), inset 0 3px 0 rgba(255,255,255,0.15), 0 3px 30px 0 rgba(249,169,2,0.3);
}
.btn-click:active{
  background-position: center 52%;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), inset 0 3px 0 rgba(0,0,0,0.1), 0 3px 0 rgba(255,255,255,0.15);;
}

/* спрайты */
.btn-sprite{
  background: url("../../../img/sprites.png") no-repeat;
  width: 98px;
  width: 98px;
}
.btn-f{
  background-position: 0 0;
}
.btn-inst{
  background-position: -300px 0;
}
.btn-you{
  background-position: -200px 0;
}
.btn-f:hover{
  background-position: 0 -98px;
}
.btn-inst:hover{
  background-position: -300px -97px;
}
.btn-you:hover{
  background-position: -200px -97px;
}
.btn-trans{
  transition: all 0.2s ease-in-out;
}
