div.post-test::before{
	content: "Таблица с границами через CSS";
}
.table-one::before{
	content: "Обычная таблица";
}
.table-two::before{
	content: "Таблица с <th>";
}
.table-three::before{
	content: "border-spasing: 5px;";
}
table, tr, td, th{
	margin: 10px auto;
	border: 1px solid black;
	/* border-collapse: collapse; */
}
.table-two{
	width: 100%;
	border-collapse: collapse;
}
.table-three{
	border-collapse: none;
	border-spacing: 5px;
}
.six{
	float: left;
	margin-left: 100px;
}
.six td{
	width: 40px;
	width: 40px;
}
.done{
	clear: right;
}


