* {
	margin: 0;
	padding: 0;
	line-height: 1.534; 
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/wood.jpg");
	background-size: cover;
	font-family: Verdana;
	font-size: 18px;
}

.wrapper {
	background-color: rgba(255, 255, 255, 0.1);
}

header {
	padding: 10px;
	margin: 10px;
}

@font-face {
	font-family: "Bobcat";
	src: url('../fonts/Bobcat.ttf');
}

@font-face {
	font-family: "Balthazar";
	src: url('../fonts/BALTH.ttf');
}
h1 {
	font-family: Bobcat;
	text-align: center;
	font-size: 4em;
	color: rgb(190,230,230);
	text-shadow: -1px -1px 1px rgb(255, 255, 255);
	text-transform: uppercase;
}
 
nav {
	text-align: center;
}

.nav-btn {
	width: 120px;
	height: 30px;
	border: 1px solid white;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: rgb(50,10,20);
	background-color: rgba(150,40,10,0.3);
	transition: background-color 1s;
	padding: 10px;
	text-shadow: 1px 1px 0px white;
}

.nav-btn:hover {
	background-color: rgba(190,40,10,0.6);
}

section {
	font-size: 1.1em;
	max-width: 1200px;
	margin: 0.8em auto;
	color: white;
	
}
h2 {
	font-family: "Balthazar";
	text-transform: uppercase;
	text-align: center;
	margin-top: 3em;
	font-size: 2em;
	color: white;
	margin-bottom: 1em;}

.img-text {
	float: left;
	margin: 10px;
	border-radius: 5px;
	margin-left: 20px;
	width: 320px;
	height: 320px;
}

.main-card{
	max-height: 340px;
	max-width: 90%; 
	margin: 50px auto;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.text-block {
	max-width: 500px;
	max-height: 320px;
	float: left;
	margin-top: 5%;
	margin-left: 30px;
	text-shadow: 1px 1px 1px black;
	text-align: justify;
}

footer {
	max-width: 1000px;
	padding: 30px;
}